@import "./PartyForm.css";

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  background-color: yellow;
}

.main-header,
.partyRequests,
.party-form-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #44c4f2;
  color: yellow;
  border: dashed 12px #f564a9;
}

/* .partyRequests {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  background-color: #44c4f2;
  color: yellow;
  border: dashed 12px #f564a9;
} */

.request-object {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  list-style-type: none;
}

.balloon-container {
  display: flex;
  max-width: 25%;
  height: auto;
  justify-content: center;
}

.request__delete {
  background-color: yellow;
  color: black;
}
